<!DOCTYPE html> 
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <title>密码重置链接已经发送</title>
        <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
        <style>
            .errorlist{
                color:red;
            }
        </style>
    </head>
    <body>
        <div class="flex-center">
            <div class="container">
                <div class="flex-center">
                    <div class="unit-1-2 unit-1-on-mobile">
                        <h1 class="logo"><a href="{% url 'index' %}">Django Auth Example</a></h1>
                        <p>密码修改成功！</p>
                    </div>
                </div> 
            </div>
        </div> 
    </body>
</html>




